@import url("https://fonts.googleapis.com/css2?family=Antic+Didone&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

body::-webkit-scrollbar {
  display: none;
}
html.dark body {
  background-color: #111827;
  color: #f3f4f6;
}

body {
  height: 100vh;
  font-family: "Antic Didone", serif;
  color: #111827;
  background-color: #f3f4f6;
  transition: background-color 0.3s ease, color 0.3s ease;
  -ms-overflow-style: none; /* Internet Explorer 10+ */
  scrollbar-width: none; /* Firefox */
}
